*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: system-ui;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: orangered;
}

.menu {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    align-content: start;
    justify-content: center;
    gap: 20px;
}

article {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.left-container {
    justify-content: start;
}

.floating-box {
    position: absolute;
    right: 0;
}
.centered-container {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 300px;
    background-color: aquamarine;
}

.right-container {
    justify-content: end;
}

div {
    width: 50px;
    height: 50px;
    background-color: pink;
}

div:nth-of-type(even) {
    background-color: orangered;
}

/* 
div {
    background-color: rgb(210, 210, 247);
    height: 100px;
    width: 100px;
}
div:nth-of-type(even) {
    height: 100px;
    width: 100px;
    background-color: orangered;
} */
